@model CleanArchitecture.Application.ViewModels.CTHoaDonViewModel

@{
    ViewData["Title"] = "DeleteCT";
}

<h1>DeleteCT</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CthoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdhoaDonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdhoaDonNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdxeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdxeNavigation.Id)
        </dd class>
    </dl>
    
    <form asp-action="DeleteCT">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
